<div class="cm-container text-center h-full">
<div class="bg-cover bg-center flex flex-col justify-center items-center h-full">
  <h1 class="text-3xl md:text-6xl font-bold mb-4 text-white">{{ "HOME.BANNER.TITLE" | translate }}</h1>
  <p class="text-xl md:text-2xl text-gray-200">{{ "HOME.BANNER.SUBTITLE" | translate }}</p>

</div>
<ion-icon (click)="scrollTo()" name="chevron-down-outline" class="chevron text-white md:block md:absolute bottom-2 left-0 right-0 mx-auto text-4xl cursor-pointer hidden"></ion-icon>
</div>
