 <ion-item class="ion-no-padding p-2 border-b flex justify-between" lines="none">
      <div class="flex justify-between w-full items-center">
        <img [src]="cat.url" class="h-20 w-20 rounded-md shadow-lg object-cover">
        <div class="text-center">
          <div class="text-xs md:text-sm">{{"SCORES.LIST.ITEM.SCORE" | translate}}</div>
          <div class="text-base md:text-lg">{{cat.score}}</div>
        </div>
        <div class="text-center">
          <div class="text-xs md:text-sm">{{"SCORES.LIST.ITEM.NAME" | translate}}</div>
          <ng-container *ngIf="!isEditable; else editable">
            <div class="text-lg" *ngIf="cat.name; else noName">{{cat.name}}</div>
            <ng-template #noName><span class="text-gray-400 text-sm md:text-base">{{"SCORES.LIST.ITEM.NONAME" | translate}}</span></ng-template>
          </ng-container>
          <ng-template #editable>
            <form [formGroup]="myForm" (ngSubmit)="edit()">
              <ion-item lines="none">
                <ion-input formControlName="name" [class]="{'bg-red-200': isNameInvalid}" class="bg-gray-200 autofocus pl-1 w-20 md:w-full text-sm md:text-base" type="text" [placeholder]="'SCORES.LIST.ITEM.PLACEHOLDER' | translate"></ion-input>
                <ion-button type="submit" fill="outline" color="dark" class="ml-2 text-xs md:text-sm">{{"SCORES.LIST.ITEM.EDIT" | translate}}</ion-button>
              </ion-item>
              </form>
          </ng-template>
        </div>
        <div class="flex space-x-2">
          <div (click)="isEditable = !isEditable" class="ion-activatable ripple-parent relative flex items-center justify-center p-1 rounded-full overflow-hidden">
            <ion-icon name="pencil-outline" class="text-xl cursor-pointer"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
          <div (click)="deleteCat()" class="ion-activatable ripple-parent relative flex items-center justify-center p-1 rounded-full overflow-hidden">
             <ion-icon name="trash-outline" class="text-xl cursor-pointer"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </div>
    </ion-item>
